

/* ----------- Contacto ----------*/
#contacto{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  
  /* Social Icons */
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .iconosContacto {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .iconosContacto ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
  }
  
  .iconosContacto ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 120px;
    height: 120px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    color: #404040;
    margin: 10px;
    transition: .5s;
  }
  
  ul li a span {
    position: absolute;
    transition: transform .5s;
  }
  
  ul li a span:nth-child(1),
  ul li a span:nth-child(3) {
    width: 100%;
    height: 3px;
    background: #404040;
  }
  
  ul li a span:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
  }
  
  ul li a:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
  }
  
  ul li a span:nth-child(3) {
    bottom: 0;
    left: 0;
    transform-origin: left;
  }
  
  ul li a:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
  }
  
  ul li a span:nth-child(2),
  ul li a span:nth-child(4) {
    width: 3px;
    height: 100%;
    background: #404040;
  }
  
  ul li a span:nth-child(2) {
    top: 0;
    left: 0;
    transform: scale(0);
    transform-origin: bottom;
  }
  
  ul li a:hover span:nth-child(2) {
    transform: scale(1);
    transform-origin: top;
    transition: transform .5s;
  }
  
  ul li a span:nth-child(4) {
    top: 0;
    right: 0;
    transform: scale(0);
    transform-origin: top;
  }
  
  ul li a:hover span:nth-child(4) {
    transform: scale(1);
    transform-origin: bottom;
    transition: transform .5s;
  }
  
  .facebook:hover {
    color: #0e76a8;
  }
  
  .facebook:hover span {
    background: #0e76a8;
  }
  
  .twitter:hover {
    color: #171515;
  }
  
  .twitter:hover span {
    background: #171515;
  }
  
  .instagram:hover {
    color: #dd4b39;
  }
  
  .instagram:hover span {
    background: #dd4b39;
  }
  
  .google:hover {
    color: #5865F2;
  }
  
  .google:hover span {
    background: #5865F2;
  }
  
  ul li a .twitter {
    color: #171515;
  }
  
  ul li a:hover:nth-child(3) {
    color: #dd4b39;
  }
  
  ul li a:hover:nth-child(4) {
    color: #5865F2;
  }
  
  