
/* -------- Proyectos ------ */
/* imagenes Proyectos*/
.card{
    /* box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.054);
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    opacity: 1; */
    background-color: darken($color: $bg-general, $amount: 5%) ;
    border: none;
  
  }
  
  /* .card:hover{
    box-shadow:none;
    transition: 0.5s ease-in-out;
    opacity: 1;
  } */
  
  
  .image-container {
    position: relative;
    width: 100%;
    height: 100%;
  
  
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(103, 103, 103, 0.622);
    border-start-end-radius: 7px;
    border-start-start-radius: 7px;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  .image-container:hover .overlay {
    opacity: 0;
  }
  
  .image-container img {
    display: block;
    width: 100%;
    height: auto;
    transition: filter 0.3s ease;
  }
  
  .image-container:hover img {
    filter: brightness(100%);
  }
  
  
  
  
  /* boton ver video */
  .button-86 {
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
  
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-86::after,
  .button-86::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
  }
  
  .button-86::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: darken($color: $bg-general, $amount: 10%);
    border-radius: 10px;
  }
  
  .button-86::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: darken($color: $bg-general, $amount: 5%);
    // background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
  }
  
  .button-86:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
  }
  
  .button-86:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }
  
  .button-86:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  }
  
  
  /* videos */
  video{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 5px;
  }
  .modal-content, .modal-body{
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
  }
  
  
  
  
  
  
  