//General
$bg-general:Gainsboro;
$font-general:"Geomanist", sans-serif;


//Portada
$text-color-titulo:SlateGray;
$color-primario-boton:#FFFFFF;
$color-secundario-boton:Silver;
$color-text-boton:#000000;

//